
.issue::before {
  content: url('../images/ibis/issue_sm.png');
  margin-right: 0.4ex;
}

.position::before {
  content: url('../images/ibis/position_sm.png');
  margin-right: 0.4ex;
}

th, td {
  border: 1px solid;
#  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  border: 1px solid;
  margin-right: auto;
  margin-left: auto;
}

h3.issue::before {
  content: url('../images/ibis/issue.png');
  margin-right: 0.4ex;
}

h3.position::before {
  content: url('../images/ibis/position.png');
  margin-right: 0.4ex;
}

.breadcrumb>li+li.issue::before,
.breadcrumb>li+li.content-issue::before {
  padding: 0 5px;
  color: #cccccc;
  content: "/\00a0" url('../images/ibis/issue_sm.png');
}

.breadcrumb>li+li.position::before,
.breadcrumb>li+li.content-position::before  {
  padding: 0 5px;
  color: #cccccc;
  content: "/\00a0" url('../images/ibis/position_sm.png');
}

.content-issue h1::before {
  content: url('../images/ibis/issue.png');
  margin-right: 0.5ex;
}

.content-position h1::before {
  content: url('../images/ibis/position.png');
  margin-right: 0.5ex;
}

.body {
  color: #555;
}

p, #content li{
  /* based on https://css-tricks.com/snippets/css/font-stacks/ */
  /* font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; */
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.flr {
  float: right;
  margin: 1em;
}
